@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: SourceSansPro;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

#logo {
    float: left;
    margin-top: 8px;
}

#logo img {
    /* height: 70px; */
}

#company {
    float: right;
    text-align: right;
}

#details {
    margin-bottom: 50px;
}

#client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
}

#client .to {
    color: #777777;
}

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: right;
}

#invoice h1 {
    color: #0087C3;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0 0 10px 0;
}

#invHeader h1 {
    color: #0087C3;
    font-size: 2.4em;
    line-height: 1em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#invoice .date {
    font-size: 1.1em;
    color: #777777;
}

#table1 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

#table1 th,
#table1 td {
    padding: 20px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

#table1 th {
    white-space: nowrap;
    font-weight: normal;
}

#table1 td {
    text-align: right;
}

#table1 td h3 {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

#table1 .no {
    /* color: #FFFFFF; */
    font-size: 1.3em;
    background: #DDDDDD;
    text-align: center;
}

#table1 .desc {
    text-align: left;
}

#table1 .unit {
    background: #DDDDDD;
    text-align: center;
}

#table1 .unitPrice {
    background: #DDDDDD;
    font-size: 1.2em;
}

#table1 .qty {
    text-align: center;
}

#table1 .total {
    /* background: #57B223; */
    /* color: #FFFFFF; */
}

#table1 td.unit,
#table1 td.qty,
#table1 td.total {
    font-size: 1.2em;
}

#table1 tbody tr:last-child td {
    border: none;
}

#table1 tfoot td {
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap;
    border-top: 1px solid #AAAAAA;
}

#table1 tfoot tr:first-child td {
    border-top: none;
}

#table1 tfoot tr:last-child td {
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    /* border-top: 1px solid #57B223; */
}

#table1 tfoot tr td:first-child {
    border: none;
}

#thanks {
    font-size: 2em;
    margin-bottom: 50px;
}

#notices {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}

#notices .notice {
    font-size: 1.2em;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}